/*
!CSS RULES

This defines the syntax rules for CSS throughout MP Software

<widget-style> {
    <style-attr>;
^^^^            ^
4 space indent, always end with semicolon
}

*/

QMainWindow {
    background-color: #202020;
    color: white;
}

QWidget {
    background-color: #3d3d3d;
    padding: 0px;
    color: #ffffff;
}

QMenu {
    padding: 3px;
    background-color: #181818;
    border: 1px solid #181818;
    border-radius: 10px;
}

QMenu::item {
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 180px;
    padding: 5px 10px 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: transparent;
    color: #d3d3d3;
}

QMenu::item:hover {
    background-color: #3f3f3f;
    color: #c2c2c2;
}

QMenu::item:selected {
    background-color: #3f3f3f;
    color: white;
}

QMenu::item:disabled {
    color: #7e7e7e;
}

QMenu QWidget {
    background-color: transparent;
}

QMenu::icon {
    padding: 1px;
    margin-right: 10px;
}

QMenu::indicator {
    padding-left: 5px;
    image: url("resources/icons/ui/checkbox_unchecked_icon.svg");
}

QMenu::indicator:checked {
    image: url("resources/icons/ui/checkbox_checked_icon.svg");
}

QMenu:separator {
    background: #2f2f2f;
    padding-left: 10px;
    padding-right: 10px;
    height: 1px;
}

QToolButton {
    background-color: #343434;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    margin: 2px;
}

QToolButton:hover {
    background: #404040;
    border-radius: 5px;
}

QToolButton:checked {
    background-color: #4772b3;
    border-radius: 5px;
}

QLabel {
    color: #c2c2c2;
    background-color: transparent;
    font-family: "Segoe UI";
}

QLineEdit,
QSpinBox,
QDoubleSpinBox,
QComboBox {
    background-color: #545454;
    selection-background-color: #4772b3;
    color: #c2c2c2;
    border: none;
    border-radius: 3px;
    padding: 2px;
}

QLineEdit:hover,
QDoubleSpinBox:hover,
QSpinBox:hover,
QComboBox:hover {
    background-color: #686868;
    color: #ffffff;
}

QLineEdit:focus,
QDoubleSpinBox:focus,
QSpinBox:focus,
QComboBox:on {
    background-color: #303030;
    color: #ffffff;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border: none;
    padding: 0px;
}

QComboBox::down-arrow {
    bottom: 3px;
    right: 3px;
    image: url("resources/icons/ui/down_arrow_icon.svg");
}

QAbstractItemView {
    background-color: #303030;
    color: #c2c2c2;
    border-radius: 5px;
    selection-background-color: #505050;
    selection-color: #505050;
    outline: 0;
}

QAbstractItemView::item {
    border-radius: 2px;
    padding: 2px;
    margin: 3px;
    color: #c2c2c2;
}

QAbstractItemView::item:hover {
    background-color: #707070;
    color: #ffffff;
}

QAbstractItemView::item:selected {
    background-color: #4772b3;
    color: #ffffff;
}

QAbstractItemView::item:selected:hover {
    background: #628bca;
}

QCheckBox {
    spacing: 5px;
    background-color: transparent;
    color: #c2c2c2;
}

QCheckBox::indicator {
    border-radius: 3px;
    border: 1px solid #505050;
    background: #505050;
    width: 15px;
    height: 15px;
}

QCheckBox::indicator:hover {
    width: 15px;
    height: 15px;
    border: 1px solid #656565;
    background: #656565;
}

QPushButton {
    border: none;
    border-radius: 4px;
    background-color: #656565;
    font-size: 15px;
    color: #d2d2d2;
    min-height: 25px;
}

QPushButton:hover {
    background-color: #707070;
    color: white;
}

QPushButton:checked {
    color: white;
    background-color: #4772b3;
}

QPushButton:checked:hover {
    background-color: #628bca;
}

QDialog {
    background-color: #202020;
}

QMessageBox {
    background-color: #181818;
}

QDialogButtonBox QPushButton {
    border: none;
    border-radius: 4px;
    min-width: 120px;
    min-height: 25px;
    font-size: 15px;
    color: #d2d2d2;
}

QDialogButtonBox QPushButton:hover {
    background-color: #656565;
    color: white;
}

QDialogButtonBox QPushButton:default {
    background-color: #4772b3;
    color: white;
}

QDialogButtonBox QPushButton:default:hover {
    background-color: #628bca;
}

QScrollBar {
    background: transparent;
    border: none;
}

QScrollBar:horizontal {
    height: 10px;
}

QScrollBar:vertical {
    width: 10px;
}

QScrollBar::add-page,
QScrollBar::sub-page {
    background: none;
}

QScrollBar::add-line,
QScrollBar::sub-line {
    border: none;
    background: none;
}

QScrollBar::handle {
    background: #656565;
    border-radius: 5px;
}

QScrollBar::handle:vertical {
    min-height: 50px;
}

QScrollBar::handle:horizontal {
    min-width: 50px;
}

QScrollBar::handle:hover {
    background: #707070;
}

/* Tabs and tab widgets */
QTabWidget {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

QTabWidget::pane {
    border: none;
    background: transparent;
}

QTabBar {
    background-color: #202020;
    border: none;
    border-radius: 0px;
    alignment: center;
    outline: 0;
}

QTabBar::tab {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1.5px;
    margin-left: 1.5px;
    color: #c2c2c2;
}

QTabBar::tab:hover {
    background-color: #303030;
    color: #ffffff;
}

QTabBar::tab:selected {
    background-color: #3d3d3d;
    color: #ffffff;
}

QTabBar::close-button {
    image: url("resources/icons/ui/close_icon.svg");
    subcontrol-origin: padding;
    subcontrol-position: right;
    border-radius: 2px;
    padding: 1px;
    width: 10px;
    height: 10px;
}

QTabBar::close-button:hover {
    background-color: #707070;
}

QTabBar::scroller {
    width: 0px;
}

QListWidget {
    background-color: transparent;
    border: none;
    outline: 0;
}

QListWidget::item {
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

QListWidget::item:hover {
    background-color: #3f3f3f;
}

QListWidget::item:selected {
    background-color: #4772b3;
}

QListWidget::item:selected:hover {
    background-color: #628bca;
}

QToolTip {
    background-color: #303030;
    color: #ffffff;
    border: 1px solid #606060;
    border-radius: 2px;
    font-family: "Segeo UI";
    padding: 2px;
}

/* Custom widgets */
#navBar {
    border: none;
    padding-left: 2px;
    padding-right: 2px;
}

#navBar QComboBox {
    color: #ffffff;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    font-family: "Segeo UI";
}

#navBar QComboBox QAbstractItemView {
    border-radius: 5px;
    min-height: 300px;
}

#navBar QLineEdit {
    color: #ffffff;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    font-family: "Segeo UI";
}

#quickSearchBar {
    background-color: transparent;
    border: none;
}

#quickSearchBar QLineEdit {
    background-color: #686868;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    font-family: "Segeo UI";
    font-size: 20px;
}

#button {
    background-color: transparent;
    border-radius: 5px;
    font-family: "Segeo UI";
    font-size: 25px;
}

#button:hover {
    background-color: #505050;
}

#listWidget {
    background-color: transparent;
    border: none;
}

#listWidget QWidget {
    background-color: transparent;
    border: none;
}

#listWidget::item {
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    background-color: transparent;
    color: white;
}

#listWidget::item:hover {
    background-color: #3f3f3f;
}

#listWidget::item:selected {
    background-color: #3f3f3f;
}

#listWidget::item:selected:hover {
    background-color: #3f3f3f;
}

#blankWidget {
    background-color: transparent;
    border: none;
}
